* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	list-style: none;
}
:root {
	--TitlesColor: #ec1839;
	--AsideBCKG: rgb(238, 232, 232);
	--NavFonts: #302e4d;
	--Underlines: rgb(200, 190, 190);
	--HeaderBCKG: rgb(210, 202, 194);
}
::before,
::after {
	box-sizing: border-box;
}
body {
	font-family: "Times New Roman", Times, serif;
	font-size: 1rem;
	line-height: 1.5rem;
	background-color: black;
}

.MainFlexContainer {
	display: flex;
	width: 100vw;
	min-height: 100vh;
	flex-direction: row;
	/* border: 5px solid red; */
	background-color: var(--HeaderBCKG);
	margin: 0 auto;
}

/* ASIDE START */

.Aside {
	/* border: 3px solid blue; */
	background-color: var(--AsideBCKG);
	border-right: 1px solid var(--Underlines);
	flex: 1 1 15%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Aside .logo {
	/* border: 3px solid blue; */
	font-size: 2rem;
	text-transform: capitalize;
	position: absolute;
	top: 3rem;
	padding: 2px 0 0 0;
}
.Aside .logo a {
	color: black;
	font-size: 2rem;

	letter-spacing: 0.5rem;
	position: relative;
	text-decoration: none;
	/* border: 2px solid blue; */
}
.Aside .logo a span {
	color: black;
	font-family: "Indie Flower", cursive;
	font-size: 2.2rem;
}

.Aside .Main_Nav {
	margin: 2rem 0 0 0;
	font-family: "Times New Roman", Times, serif;
	z-index: 10;
	position: relative;
	/* border: 2px solid blue; */
	display: flex;
	text-align: center;
	justify-content: center;
}

.Aside .Brand {
	background-color: var(--Underlines);
	border-radius: 50%;
	border: 2px solid var(--NavFonts);
	width: 10rem;
	color: var(--NavFonts);
	padding: 0.5rem;
	font-size: 1.1rem;
	cursor: -webkit-grab;
	letter-spacing: 0.2rem;
}

.Aside .Brand span {
	width: 60%;
	/* border: 2px solid blue; */
	font-size: 1.5rem;
	font-weight: 600;
	font-family: "Indie Flower", cursive;
	color: var(--TitlesColor);
}
.Aside nav {
	position: absolute;
	top: 13rem;
}
.Aside nav li {
	/* border: 2px solid blue; */
	font-size: 1.2rem;
	font-weight: 600;
	margin-top: 3rem;
	border-bottom: 1px solid var(--Underlines);
}
.Aside nav li a:hover {
	color: var(--TitlesColor);
}
.Aside nav li a {
	padding: 1rem 1rem;
	color: var(--NavFonts);
}
.Aside nav li a.ActiveNav {
	color: var(--TitlesColor);
}
.Aside nav li a i {
	margin-right: 0.8rem;
}
/* ASIDE END */

/* MainContainer Start */
.MainContainer {
	/* border: 3px solid black; */
	flex: 1 1 85%;
}
.Content {
	width: 100%;
	/* min-height: 100vh; */
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	/* border: .2rem solid blue; */
	align-items: center;
	/* justify-content: center; */
}
.HomePage_Text {
	flex: 1 1 60%;
	/* max-width: 20%; */
	margin-left: 2rem;
	margin-bottom: 9rem;
	/* border: 3px solid black; */
}
.HomePage_Text .PS {
	color: var(--TitlesColor);
	font-size: 1.4rem;
	font-weight: bold;
	/* border: 3px solid black; */
}

.Home_Header_Image .Home_Image {
	flex: 1 1 40%;
	/* max-width: 100%; */
	width: 11rem;
	/* border: 3px solid var(--TitlesColor); */
	/* border-radius: 0 0 30rem 30rem; */
	/* margin: 0rem 5rem 8rem 3rem; */
	padding: 5px;
	text-align: center;
	/* border: 1px solid var(--NavFonts); */
	box-shadow: 0rem 0rem 1rem var(--NavFonts);
	border-radius: 1rem;
}
.Header_Image {
	/* border: 5px solid red; */
	position: relative;
	padding: 0rem 5rem 8rem 3rem;
}
.Header_Image::before {
	content: "";
	position: absolute;
	width: 3rem;
	height: 3rem;
	border-top: 0.3rem solid var(--TitlesColor);
	border-left: 0.3rem solid var(--TitlesColor);
	border-radius: 1rem 0rem 0rem 0rem;
	top: -2rem;
	left: 1rem;
}
.Header_Image::after {
	content: "";
	position: absolute;
	width: 3rem;
	height: 3rem;
	border-bottom: 0.3rem solid var(--TitlesColor);
	border-right: 0.3rem solid var(--TitlesColor);
	border-radius: 0rem 0rem 1rem 0rem;
	bottom: 6rem;
	right: 3rem;
}
.Greetings {
	display: flex;
	flex-direction: column;
	font-weight: 100;
	/* border: 3px solid black; */
	line-height: 2rem;
	font-size: 1.5rem;
	margin: 2rem 1rem 0rem 1rem;
}
.Greetings p {
	/* border: 3px solid black; */
	margin: 1rem 0 0 0;
	font-size: 1.2rem;
	line-height: 1.3rem;
}

.Greetings h1 {
	/* border: 3px solid black; */
	font-size: 2.5rem;
	font-weight: 100;
}
.Greetings span {
	/* border: 3px solid black; */
	display: inline;
	font-family: "Indie Flower", cursive;
	color: var(--TitlesColor);
	font-size: 3rem;
}

.Job {
	/* border: 3px solid black; */

	margin-top: 1rem;
	font-size: 1.5rem;
	margin: 1.5rem 0;
}
.Job span {
	font-family: "Indie Flower", cursive;
	color: var(--TitlesColor);
}
/* MainContainer END */
