*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	list-style: none;
}
:root {
	--TitlesColor: #ec1839;
	--AsideBCKG: rgb(238, 232, 232);
	--NavFonts: #302e4d;
	--Underlines: rgb(200, 190, 190);
	--HeaderBCKG: rgb(210, 202, 194);
}
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes colors_changing {
	to {
		filter: hue-rotate(360deg);
	}
}

body {
	font-family: "Times New Roman", Times, serif;
	font-size: 1rem;
	line-height: 1.5rem;
	background-color: black;
}

.MainFlexContainer {
	display: flex;
	width: 100vw;
	min-height: 100vh;
	flex-direction: row;
	/* border: 5px solid red; */
	background-color: var(--HeaderBCKG);
	margin: 0 auto;
}

/* ASIDE START */

.Aside {
	/* border: 3px solid blue; */
	background-color: var(--AsideBCKG);
	border-right: 1px solid var(--Underlines);
	flex: 1 1 15%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Aside .logo {
	/* border: 3px solid blue; */
	font-size: 2rem;
	text-transform: capitalize;
	position: absolute;
	top: 3rem;
	padding: 2px 0 0 0;
}
.Aside .logo a {
	color: black;
	font-size: 2rem;

	letter-spacing: 0.5rem;
	position: relative;
	text-decoration: none;
	/* border: 2px solid blue; */
}
.Aside .logo a span {
	color: black;
	font-family: "Indie Flower", cursive;
	font-size: 2.2rem;
}

.Aside .Main_Nav {
	margin: 2rem 0 0 0;
	font-family: "Times New Roman", Times, serif;
	z-index: 10;
	position: relative;
	/* border: 2px solid blue; */
	display: flex;
	text-align: center;
	justify-content: center;
}

.Aside .Brand {
	background-color: var(--Underlines);
	border-radius: 50%;
	border: 2px solid var(--NavFonts);
	width: 10rem;
	color: var(--NavFonts);
	padding: 0.5rem;
	font-size: 1.1rem;
	cursor: -webkit-grab;
	letter-spacing: 0.2rem;
}

.Aside .Brand span {
	width: 60%;
	/* border: 2px solid blue; */
	font-size: 1.5rem;
	font-weight: 600;
	font-family: "Indie Flower", cursive;
	color: var(--TitlesColor);
}
.Aside nav {
	position: absolute;
	top: 13rem;
}
.Aside nav li {
	/* border: 2px solid blue; */
	font-size: 1.2rem;
	font-weight: 600;
	margin-top: 3rem;
	border-bottom: 1px solid var(--Underlines);
}
.Aside nav li a:hover {
	color: var(--TitlesColor);
}
.Aside nav li a {
	padding: 1rem 1rem;
	color: var(--NavFonts);
}
.Aside nav li a.ActiveNav {
	color: var(--TitlesColor);
}
.Aside nav li a i {
	margin-right: 0.8rem;
}
/* ASIDE END */

.MainContent {
	flex: 0 0 85%;
	/* border: 10px solid blue; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Grid_Container {
	width: 90%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
	row-gap: 1rem;
	column-gap: 0rem;
	align-items: center;
	justify-items: center;
}

.Grid_Item {
	/* border: 5px solid pink; */
	margin: 0;
	width: 100%;
	max-width: 10rem;
	cursor: pointer;
	border-radius: 1rem;
}

.Grid_Item:hover {
	transform: scale(0.9) rotate(10deg);
	transition: all 0.8s ease;
}

.Center_IMG {
	display: none;
	flex-direction: column-reverse;
	position: fixed;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	/* border: 5px solid blue; */
	backdrop-filter: url(filters.svg#filter) blur(10px) grayscale(100%);
}

.Center_IMG img {
	/* width: 100%; */
	max-height: 35rem;
	display: block;
	border-radius: 1rem;
	/* border: 5px solid blue; */
	animation: fade-in;
	animation-duration: 2s;
}

.Center_IMG span {
	position: absolute;
	top: 5%;
	right: 5%;
	font-size: 2.5rem;
	color: white;
	cursor: pointer;
}
.Center_IMG .Active {
	display: flex;
	align-items: center;
	justify-content: center;
}
header {
	display: inline;
	/* border: 5px solid blue; */
	margin: 4rem 0 3rem 0;
	align-items: center;
	font-size: 2rem;
	color: black;
	font-weight: 500;
	font-family: "Times New Roman", Times, serif, cursive;
	letter-spacing: 1px;
}

header h1  {
	
	font-weight: 500;
	font-size: 3rem;

}
header h1 span {
	font-family: "Indie Flower", cursive;
	font-size: 3rem;
	color: var(--TitlesColor);
}
.Buttons {
	/* display: block; */
	background-color: transparent;
	padding: 0;
	margin: 0.8rem;
	text-align: center;
}
.Button_Prev {
	width: 8rem;
	font-size: 1.6rem;
	border-radius: 0.5rem;
	cursor: pointer;
	background-color: orange;
	font-family: "Indie Flower", cursive;
}
.Button_Prev:disabled {
	background-color: #777;
	cursor: not-allowed;
	/* width: 100%; */
}
.Button_Forw {
	width: 8rem;
	font-size: 1.6rem;
	margin-left: 5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	background-color: orange;
	font-family: "Indie Flower", cursive;
}
.Button_Forw:disabled {
	background-color: #777;
	cursor: not-allowed;
	/* width: 100%; */
}
