* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	list-style: none;
}
:root {
	--TitlesColor: #ec1839;
	--AsideBCKG: rgb(238, 232, 232);
	--NavFonts: #302e4d;
	--Underlines: rgb(200, 190, 190);
	--HeaderBCKG: rgb(210, 202, 194);
}
::before,
::after {
	box-sizing: border-box;
}
body {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.1rem;
	line-height: 2rem;
	background-color: black;
}

.MainFlexContainer {
	display: flex;
	width: 100%;
	min-height: 100vh;
	flex-direction: row;
	/* border: 5px solid red; */
	background-color: var(--HeaderBCKG);
	margin: 0 auto;
}

/* ASIDE START */

.Aside {
	/* border: 3px solid blue; */
	background-color: var(--AsideBCKG);
	border-right: 1px solid var(--Underlines);
	flex: 0 0 15%;
	/* z-index: 10; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.Aside .logo {
	font-size: 2rem;
	text-transform: capitalize;
	position: absolute;
	top: 4rem;
}
.Aside .logo a {
	color: black;
	font-size: 2rem;

	padding: 0.7rem 1.3rem;
	letter-spacing: 0.5rem;
	position: relative;
	/* border: 2px solid blue; */
}
.Aside .logo a::before {
	content: "";
	position: absolute;
	width: 1.3rem;
	height: 1.3rem;
	border-bottom: 3px solid var(--TitlesColor);
	border-left: 3px solid var(--TitlesColor);
	border-radius: 0 0rem 0 0.3rem;

	bottom: 0;
	left: 0;
}
.Aside .logo a::after {
	content: "";
	position: absolute;
	width: 1.3rem;
	height: 1.3rem;
	border-top: 3px solid var(--TitlesColor);
	border-right: 3px solid var(--TitlesColor);
	border-radius: 0 0.3rem 0 0rem;
	top: 0;
	right: 0;
}

.Aside .logo a span {
	color: black;
	font-family: "Indie Flower", cursive;
	font-size: 2.2rem;
}

.Aside nav li {
	/* border: 2px solid blue; */
	font-size: 1.5rem;
	font-weight: 600;
	margin-top: 3rem;
	border-bottom: 1px solid var(--Underlines);
}
.Aside nav li a:hover {
	color: var(--TitlesColor);
}
.Aside nav li a {
	padding: 1rem 1rem;
	color: var(--NavFonts);
}
.Aside nav li a.ActiveNav {
	color: var(--TitlesColor);
}
.Aside nav li a i {
	margin-right: 0.8rem;
}
/* ASIDE END */

/* MainContainer Start */
.MainContainer {
	/* border: 3px solid blue; */
	flex: 0 0 85%;
	/* display: none; */
}
.Portfolio {
	/* border: 3px solid red; */
	padding: 2rem;
	height: 100vh;
	font-size: 2rem;
}
.Portfolio .Portfolio_Title h1 {
	margin: 2rem 1rem 5rem 1rem;
}
.Portfolio .Portfolio_Title h1 span {
	/* border: 3px solid blue; */
	font-size: 5rem;
	color: black;
	font-weight: 500;
	position: relative;
}
.Portfolio .Portfolio_Title h1 span::before {
	position: absolute;
	content: "";
	width: 3.8rem;
	height: 3.8rem;
	border-left: 5px solid var(--TitlesColor);
	border-top: 5px solid var(--TitlesColor);
	border-radius: 0.6rem 0 0rem;
	top: 0px;
	left: -1.3rem;
}
.Portfolio .Portfolio_Title h1 span::after {
	content: "";
	position: absolute;
	width: 3.8rem;
	height: 3.8rem;
	border-bottom: 5px solid var(--TitlesColor);
	border-right: 5px solid var(--TitlesColor);
	border-radius: 0rem 0rem 1rem 0rem;
	bottom: 0px;
	right: -1.3rem;
}

.Portfolio_Content h2{
	/* border: 3px solid blue; */
	font-size: 2.8rem;
	font-weight: 300;
	margin-bottom: 2rem;
}

.Portfolio_Content h2 span {
	font-family: "Indie Flower", cursive;
	color: var(--TitlesColor);
	font-weight: 500;
}




/* MainContainer END */

.Not_Ready_Yet {
	font-size: 1.9rem;
	justify-content: center;
	margin-top: 30rem;
	align-items: center;
	flex: 0 0 85%;
}
.Not_Ready_Yet h1 {
	font-family: "Indie Flower", cursive;
	text-align: center;
}
.Not_Ready_Yet p {
	font-size: 2rem;
	justify-content: center;
	margin-top: 1rem;
	text-align: center;
}
