* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	list-style: none;
}
:root {
	--TitlesColor: #ec1839;
	--AsideBCKG: rgb(238, 232, 232);
	--NavFonts: #302e4d;
	--Underlines: rgb(200, 190, 190);
	--HeaderBCKG: rgb(210, 202, 194);
}
::before,
::after {
	box-sizing: border-box;
}
body {
	font-family: "Times New Roman", Times, serif;
	line-height: 2rem;
	background-color: black;
}

.MainFlexContainer {
	display: flex;
	width: 100%;
	min-height: 100vh;
	flex-direction: row;
	/* border: 5px solid red; */
	background-color: var(--HeaderBCKG);
	margin: 0 auto;
}

/* ASIDE START */

.Aside {
	/* border: 3px solid blue; */
	background-color: var(--AsideBCKG);
	border-right: 1px solid var(--Underlines);
	flex: 0 0 15%;
	/* z-index: 10; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.Aside .logo {
	font-size: 2rem;
	text-transform: capitalize;
	position: absolute;
	top: 4rem;
}
.Aside .logo a {
	color: black;
	font-size: 2rem;

	padding: 0.7rem 1.3rem;
	letter-spacing: 0.5rem;
	position: relative;
	/* border: 2px solid blue; */
}
.Aside .logo a::before {
	content: "";
	position: absolute;
	width: 1.3rem;
	height: 1.3rem;
	border-bottom: 3px solid var(--TitlesColor);
	border-left: 3px solid var(--TitlesColor);
	border-radius: 0 0rem 0 0.3rem;

	bottom: 0;
	left: 0;
}
.Aside .logo a::after {
	content: "";
	position: absolute;
	width: 1.3rem;
	height: 1.3rem;
	border-top: 3px solid var(--TitlesColor);
	border-right: 3px solid var(--TitlesColor);
	border-radius: 0 0.3rem 0 0rem;
	top: 0;
	right: 0;
}

.Aside .logo a span {
	color: black;
	font-family: "Indie Flower", cursive;
	font-size: 2.2rem;
}
.Aside .Main_Nav {
	margin: 2rem 0 0 0;
	font-family: "Times New Roman", Times, serif;
	z-index: 10;
	position: relative;
	/* border: 2px solid blue; */
	display: flex;
	text-align: center;
	justify-content: center;
}
.Aside .Brand {
	background-color: var(--Underlines);
	border-radius: 50%;
	border: 2px solid var(--NavFonts);
	width: 85%;
	color: var(--NavFonts);
	padding: 0.5rem;
	font-size: 1.1rem;
	cursor: -webkit-grab;
	letter-spacing: 0.2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* border: 2px solid blue; */
}
.Aside .Brand span {
	width: 60%;
	/* border: 2px solid blue; */
	font-size: 1.5rem;
	font-weight: 600;
	font-family: "Indie Flower", cursive;
	color: var(--TitlesColor);
}
.Aside nav li {
	/* border: 2px solid blue; */
	font-size: 1.5rem;
	font-weight: 600;
	margin-top: 3rem;
	border-bottom: 1px solid var(--Underlines);
}
.Aside nav li a:hover {
	color: var(--TitlesColor);
}
.Aside nav li a {
	padding: 1rem 1rem;
	color: var(--NavFonts);
}
.Aside nav li a.ActiveNav {
	color: var(--TitlesColor);
}
.Aside nav li a i {
	margin-right: 0.8rem;
}
/* ASIDE END */

/* MainContainer Start */
.MainContainer {
	/* border: 3px solid blue; */
	flex: 0 0 85%;
}

/* MainContainer END */
.Contact {
	margin: 0;
	padding: 0;
	/* border: 3px solid red; */
	padding: 2rem 2rem 2rem 2rem;
	height: 100vh;
	font-size: 2rem;
}
.Contact .Contact_Title h1 {
	font-size: 5rem;
	margin: 2rem 1rem 12rem 1rem;
	/* border: 3px solid red; */
}
.Contact .Contact_Title h1 span {
	/* border: 3px solid blue; */
	color: black;
	font-weight: 500;
	position: relative;
}
.Contact .Contact_Title h1 span::before {
	content: "";
	position: absolute;
	width: 3.8rem;
	height: 3.8rem;
	border-left: 5px solid var(--TitlesColor);
	border-top: 5px solid var(--TitlesColor);
	border-radius: 0.6rem 0 00rem;
	top: 0px;
	left: -1.3rem;
}
.Contact .Contact_Title h1 span::after {
	content: "";
	position: absolute;
	width: 3.8rem;
	height: 3.8rem;
	border-bottom: 5px solid var(--TitlesColor);
	border-right: 5px solid var(--TitlesColor);
	border-radius: 0rem 0rem 1rem 0rem;
	bottom: 0px;
	right: -1.3rem;
}

.Contact_Infos {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	margin-top: 4rem;
	/* border: 2px solid blue; */
}

.Contact_Sec_Title {
	color: var(--TitlesColor);
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 1rem;
}
.Contact_Sec_Sub_Title {
	color: var(--NavFonts);
	text-align: center;
	font-size: 1.2rem;
	/* margin-bottom: 1rem; */
}
.contact-info-item {
	display: flex;
	flex-direction: column;
	/* border: 2px solid blue; */
	align-items: center;
	justify-content: center;
	letter-spacing: 1px;
	/* margin: 0 0 0 1rem; */
}

.contact-info-item .icon,
.contact-info-item .icon a,
.contact-info-item img {
	color: var(--TitlesColor);
	width: 2.1rem;
}

.contact-info-item h4 {
	margin: 0.8rem 0;
}
.contact-info-item p {
	font-size: 1.5rem;
}

.Contact_Footer_Title {
	color: var(--TitlesColor);
	text-align: center;
	font-size: 2.5rem;
	margin: 3em 0 1rem 0;
	position: relative;
}
.Contact_Footer_Sub_Title {
	color: var(--NavFonts);
	text-align: center;
	font-size: 1.2rem;
	position: relative;
	/* border: 2px solid blue; */
}

.Contact_Footer_Sub_Title::before {
	content: "";
	position: absolute;
	width: 21.8rem;
	height: 3.8rem;

	border-bottom: 5px solid var(--TitlesColor);
	border-radius: 0.6rem 0 00rem;
	top: 14px;
	right: 41rem;
}
.Contact_Footer_Sub_Title::after {
	content: "";
	position: absolute;
	width: 10rem;
	height: 3.8rem;
	border-bottom: 5px solid var(--TitlesColor);
	border-radius: 0.6rem 0 00rem;
	top: 29px;
	right: 47rem;
}
.Contact_Footer_Title::before {
	content: "";
	position: absolute;
	width: 40rem;
	height: 3.8rem;

	border-bottom: 5px solid var(--TitlesColor);
	border-radius: 0.6rem 0 00rem;
	top: 30px;
	right: 33rem;
}
.Contact_Footer_Title::after {
	content: "";
	position: absolute;
	width: 30rem;
	height: 3.8rem;

	border-bottom: 5px solid var(--TitlesColor);
	border-radius: 0.6rem 0 00rem;
	top: 45px;
	right: 37.9rem;
}
