:root {
	--TitlesColor: rgb(255, 50, 225);
	--DatesColor: rgb(145, 200, 140);
}
body {
	font-family: "Times New Roman", Times, serif;
	/* text-align: center; */
	/* border: 3px solid pink; */
	padding: 3rem;
	display: flex;
	flex-direction: column;
	flex-basis: 95%;
}

.Wrapper {
	/* border: 5pxs solid red; */
	width: 80%;
	margin: 0 auto;
}

/*Tutaj rozpoczynają się artykuły  */
.Articles-division {
	display: flex;
	flex-direction: column;
}
article {
	/* border: 3px solid blue; */
	margin: 2rem 0rem;
	display: inline-block;
	text-align: left;
}

article img {
	float: left;
	/* border: 2px solid black; */
	margin: 0 1rem 1rem 0;
	border-radius: 1rem;
}
article p {
	display: flex;
	justify-content: left;
	/* border: 2px solid black; */
}
h2 {
	/* border: 2px solid black; */
	color: #a51f10;
	font-family: "kavivanar";
	font-weight: normal;
}
article:after {
	content: "";
	display: table;
	clear: both;
}

date {
	color: var(--DatesColor);
	/* border: 2px solid black; */
}

details {
	color: var(--TitlesColor);
	/* border: 2px solid black; */
}
/*Tutaj kończą się artykuły  */

/* Tutaj rozpoczyna się header */
header {
	/*FlexContainer*/
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

	/* border: 2px solid black; */
}
.Header-Text {
	flex-basis: 60%;
	margin-top: 3.5rem;
	padding-left: 0.5rem;
	/* border: 5px solid #a51f10; */
}

.Header-Text h1 {
	margin: 0;
	color: var(--TitlesColor);
	font-size: 3rem;
	font-weight: normal;
	/* border: 2px solid violet; */
}
.Header-Text p {
	margin-top: -0.5rem;
	/* border: 2px solid violet; */
}
.Header-Image {
	flex-basis: 40%;
	text-align: right;
	padding-right: 0.5rem;
	/* border: 2px solid black; */
	/* margin-right: 1rem; */
}
header:after {
	content: "";
	display: table;
	clear: both;
}
h1,
h2 {
	font-family: "kavivanar";
	/* border: 4px solid red; */
}
/* Tutaj kończy się header */

/* Tutaj się zaczyna pasek nawigacyjny */
nav {
	border-top: 2px solid pink;
	border-bottom: 2px solid brown;
}

nav ul {
	list-style-type: none; /*usuwanie kropek*/
	padding: 0;
	margin: 0;
	display: flex; /*tryb flexowania hehe*/
	flex-flow: row wrap;
	display: flex;
	justify-content: center;
}

nav li {
	margin: 0.5rem 0;
	/* display: inline-block; */
}

nav a {
	text-decoration: none;
	color: rgb(180, 0, 156);
	margin: 0.5rem 2rem;
}

nav a:hover {
	background-color: black;
	color: rgb(22, 255, 22);
}

/* Koniec paska nawigacyjnego */

/* Początek samego spodu */
footer {
	display: block;
	text-align: center;
}

.Footers-Border {
	padding: 0.1rem;
	border-top: 2px solid pink;
	border-bottom: 2px solid brown;
}
.Footers-Icons-List {
	/* border: 2px solid black; */
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	list-style-type: none;
	padding: 0;
	margin-bottom: 0rem;
	margin-top: 1rem;
}
.Footers-heading {
	/* border: 2px solid black; */
	margin-bottom: 0rem;
	margin-top: 2rem;
}
footer li {
	/* border: 2px solid black; */
	margin-left: 0rem;
	padding: 0;
}
/* Koniec samego dołu */
